<div>
  <form class="form-inline" ng-submit="vm.search()">
    <div class="form-group">
      <input name="searchTerm" ng-model="vm.searchTerm" type="text" class="form-control" id="searchTerm" placeholder="Search term ...">
    </div>
    <button type="submit" class="btn btn-info">Search</button>
  </form>

  <ul ng-if="vm.results">
    <li ng-repeat="result in vm.results.documents"><a ng-href="#{{ result.uri }}">{{ result.content.name }}</a> <small>(score: {{ vm.results.scores[$index].score }})</small></li>
  </ul>

</div>
