<!doctype html>
<html ng-app="starwars">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/css/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-default" nav-bar>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Star Wars</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li match-route="/"><a href="#/">Home</a></li>
            <li match-route="/characters|/character/.*"><a href="#/characters">Characters</a></li>
            <li match-route="/search"><a href="#/search">Search</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div ng-view></div>
    </div>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/main/main-controller.js"></script>
    <script src="public/js/character-list/character-list-controller.js"></script>
    <script src="public/js/character-info/character-info-controller.js"></script>
    <script src="public/js/search/search-controller.js"></script>
    <script src="public/js/characterfactory/character-factory.js"></script>
    <script src="public/js/navigation-directive/navigation-directive.js"></script>
  </body>
</html>
